#ledBox {
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 100%;
  background-color: lightgray;
  border: solid 0.5vh gray;
}

#latestRFIDTag {
  font-weight: lighter;

}

.wallboxErrorCheck {
  text-transform: uppercase;
  font-weight: bold;
}

.WhitelistHeadline {
  font-weight: lighter;
}

#contrLed {
  height: 1vw;
  width: 8vw;
}

#contrLed::-moz-range-thumb {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.activeNav {
  background-color: rgb(55, 60, 85);
}

.activeNav:hover {
  background-color: rgb(87, 95, 133);
}

* {
  margin: 0;
  padding: 0;
}

.svgsMenu {
  fill: red;
}

input[type=range] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: slider-vertical;
}

b {
  color: black;
}

body {
  background: rgb(245, 245, 245);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
}

.content {
  width: 83vw;
}

.headLine {
  z-index: 2;
  padding: 1vw 2vw;
  font-size: 1.8rem;
  width: 100vw;
  text-align: left;
  background-color: white;
  font-weight: 400;
  color: #848484;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.61);
  position: sticky;
  top: 0;
}




li {
  width: 100%;
}

img {
  width: 100%;
}

td,
tr {
  color: #000000;
  height: 3em;

}

.navList {
  position: sticky;
  top: 0;
}

/*NAV*/
.active {
  background-color: red;
}

aside {
  background-color: rgb(86, 85, 102);
  width: 12.5vw;
  position: sticky;
  top: 0;
}

#navImg {
  width: 10.5vw;
  padding: 1.1vw 0;
}

.topNavItem {
  margin-top: 1vw;
  background-color: #333142;
}

#imgLi {
  background-color: #333142;
}

a {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.svgsMenu {
  padding-top: 0.3vw;
  padding-left: 1.4vw;
  height: 1vw;
  width: 1vw;
}

li {
  list-style-type: none;
  padding: 0.9vw 1vw;
  width: 10.5vw;
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
}

span {
  padding-left: 1vw;
  padding-top: 0.35vw;
  font-size: 0.9rem;
  margin-left: 1vw;
  color: #bdbdbd;
}

li:hover {
  transition: 0.5s;
  background-color: rgb(94, 114, 172);
}

/* Index.html*/
.cardHeadLine {}


#wallBoxHeadLine {
  margin: 0;
  font-size: 1.5rem;

}

#wallboxSelectment {

  padding: 1vw;
}

.textSelect {
  width: 13vw;
  text-align: left;
  padding-left: 2vw;
  font-size: 1rem;
  padding: 0.5vw;
}

#selectWallbox {
  width: 10vw;
  padding: 0.5vw;
  text-align: center;
  background: #f1f1f1;
  font-size: 1rem;
  height: 2vw;
  border-radius: 4px;
  border: none;
}

.ipinput {
  width: 5vw;

}

.ipinput:focus {
  border: 3px solid #555;
}


/*Einstellungen.html*/
input:disabled {
  color: rgb(172, 172, 172);
  border-color: rgb(151, 151, 151);
}



p {
  color: black;
  font-size: 11pt;
  font-weight: lighter;
  text-align: right;
  padding: 3px;
  margin: 0px;
}



.toggle label {
  position: relative;
  display: inline-block;
  width: 2.5vw;
  height: 2em;
}

#reloadCB {}

.toggle input {
  display: none;
}

.toggle .slider {
  /* Grundfl�che */
  position: absolute;
  cursor: pointer;
  width: 2vw;
  margin-top: 0.25vw;
  height: 1vw;
  background-color: #a3a3a3;
  /* red */
  transition: all .3s ease-in-out;
  border-radius: 1em;
}

.toggle .slider:before {
  /* verschiebbarer Button */
  position: absolute;
  content: "";
  height: 0.8vw;
  width: 0.8vw;
  left: 0.1vw;
  bottom: 0.1vw;
  background-color: white;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #5a9900;
  /* green */
}

.toggle input:focus+.slider {
  background-color: pink;
  box-shadow: 0 0 1px #5a9900;
}

.toggle input:checked+.slider:before {
  transform: translateX(1vw);
}

.text .slider:after {
  /* Text vor dem FlipFlop-Schalter */
  position: absolute;
  content: "DHCP";
  color: #000000;
  font-weight: bold;
  height: 2vw;
  top: 0vw;
  left: -3.5em;
  font-style: normal;
}

.text input:checked+.slider:after {
  /* Text hinter dem FlipFlop-Schalter */
  position: absolute;
  content: "STATISCH";
  color: #000000;
  left: 3em;
}

.state .slider:after {
  /* Text vor dem FlipFlop-Schalter */
  position: absolute;
  content: "";
  color: #a3a3a3;
  font-weight: bold;
  height: 2vw;
  top: 0.1vw;
  left: -3.5em;
}

.slider:after .slider:before {
  padding-top: 2vw;
}

.state input:checked+.slider:after {
  /* Text hinter dem FlipFlop-Schalter */
  position: absolute;
  content: "";
  color: #5a9900;
  left: 4.5em;
}

/* Nachfolgend die Angaben f�r die Headergrafik.*/
#rangeSlider {
  transform: rotate(90deg);
  height: 12vh;
  width: 15vh;
}

.table {
  padding: 10px auto;
  color: red;
  background: none;
  border: solid 10px #FFFFFF;

}

.thirdColumn {
  text-align: left;
}

.tableStyle {
  width: 50%;
}

.firstColumn {
  text-align: right;
}

.secondColumn {
  font-weight: bolder;
}

.header {
  height: 152px;
  padding: 10px;
  width: 950px;
  color: #FFB950;
  background-color: #FFFFFF;
  background: url(img/innoamp.png) no-repeat;
}

#player {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}






/*Formatierung der verschiedenen �berschriften #FF8000 */

h1 {
  color: #000000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
}

h2 {
  color: #3F3F3F;
  background-color: inherit;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin: 12px 0px 2px 10px;
  text-align: left;
  letter-spacing: 2px;
}

#ipHeadLine {
  padding-top: 0.7vw;
  font-size: 1rem;
}

h3 {
  color: #000000;
  background-color: inherit;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5vw;
  font-weight: lighter;
  text-align: right;
}

#IpZuweisung {
  display: flex;
  flex-direction: row;
}

#ipCheckBox {
  margin-left: 5vw;
  padding-top: 0.5vw;
}


/* Steuerung der linksseitigen Navigation#4C6535*/

#numSlaves {
  text-align: center;
  color: black;
}

.menue {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  text-align: left;
}

.menue li a,
.menue li a:active,
.menue li a:visited {
  color: #7D4926;
  background-color: #FFFFFF;
  width: 190px;
  padding: 3px;
  margin: 2px;
  text-decoration: none;
  font-size: 10pt;
  display: block;
  font-weight: bold;
  text-indent: 10px;
  border-bottom: 1px dotted #5F5F5F;
}

.menue li a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #4B8FC8;
  background-color: #454440;
}

/*Steuerung des Haupttextes*/




#maintext {
  width: 720px;
  font-size: 10pt;
  text-align: justify;
  color: #000000;
  background-color: transparent;
  padding-top: 0px;
}

/*Log In Page*/
#loginForm {
  width: 20vw;
  background-color: white;
  padding: 2vw;
  margin: 10vw 40vw;
  border-radius: 0.5vw;
}



#errorBox {
  color: rgb(194, 31, 31);
  font-size: 1rem;
}

#checkBut {
  background-color: #3498db;
  color: white;
}

#patternImg {
  text-align: center;
}


/*Formatierung der normalen Links*/

a:link,
a:visited,
a:active {
  color: #4B8FC8;
  text-decoration: none;
  font-weight: bold;
}

/*Settings*/
#slaveForm {
  background: none;
  margin: 0;
  padding: 0;
}

.w1,
.w2,
.w3,
.w4,
.w5 {}

.btnsSettings {
  color: white;
  padding: 1vw;
  border-radius: 0.3vw;
  font-size: 1rem;
  margin: 1vw;
  width: 10vw;
  border: none;
  background-color: #333142;
}


input {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px rgb(0, 0, 0) solid;
  padding: 0.5vw;
  height: 2vw;
  color: rgb(0, 0, 0);
}

input:focus {
  color: black;
  border: 0;
  margin: 0;
  padding: 0;
}

.wallboxSelectmentBox {
  background: none;
  margin: 0;
  padding: 0;

}

#wallboxSelectmentBox>select {
  line-height: 1, 5;
  text-align: center;
  padding: 0.3vw;
  color: black;
  font-weight: lighter;
  padding: 0.7vw;
  width: 20vw;
  margin-left: 1vw;
}

nav {
  display: none;
}


.menuSVG {
  width: 15vw;
  height: 15vw;
  margin-left: 42.5vw;
}

.menuTitle {
  background: #2d2f31;
  color: white;
  width: 100vw;
  padding: 2vw;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

.slide>li {
  width: 100vw;
  padding: 5vw 0;
  color: white;
}

.slide>li>a {

  color: white;
}

.slide {
  background-color: rgb(84, 91, 194);
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}


#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked+.slide {
  height: 30vh;
}

body {
  overflow-x: hidden;
}

.contrLed {
  border: none;
  -webkit-appearance: none;
  width: 100%;
  height: 1vw;
  border-radius: 2vw;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.contrLed:hover {
  opacity: 1;
}

.contrLed::-webkit-slider-thumb {
  width: 2vw;
  height: 2vw;
  -webkit-appearance: none;
  appearance: none;
  background: #5f5f5f;
  cursor: pointer;
}

.contrLed::-moz-range-thumb {
  width: 2vw;
  height: 2vw;
  background: #5f5f5f;
  cursor: pointer;
}

#flexbox {
  display: none;
}

#loadingBox {
  width: 5vw;
  margin-left: 35vw;
  margin-top: 30vh;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(43, 58, 136);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}